*{
    margin: 0; 
    padding : 0;
    box-sizing : border-box;
}
body 
{
    font-family : Arial, Helvetica, sans-serif;
    background : linear-gradient(135deg, #FFE082, #FFB74D);
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

